<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="EDO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <EDO.Properties.Settings>
            <setting name="ReopenLastFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="UndoBufferCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </EDO.Properties.Settings>
    </userSettings>
</configuration>
